/*
===========================
Fonts
===========================
*/
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(https://fonts.googleapis.com/css?family=Cabin:400,700);

@font-face {
    font-family: 'edoregular';
    src: url('../webfonts/edo_regular/edo-webfont.eot');
    src: url('../webfonts/edo_regular/edo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/edo_regular/edo-webfont.woff') format('woff'),
         url('../webfonts/edo_regular/edo-webfont.ttf') format('truetype'),
         url('../webfonts/edo_regular/edo-webfont.svg#edoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'variane_scriptregular';
    src: url('../webfonts/variane_script/variane_script-webfont.woff2') format('woff2'),
         url('../webfonts/variane_script/variane_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'parabolaregular';
    src: url('../webfonts/parabola/parabola-regular-webfont.eot');
    src: url('../webfonts/parabola/parabola-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/parabola/parabola-regular-webfont.woff2') format('woff2'),
         url('../webfonts/parabola/parabola-regular-webfont.woff') format('woff'),
         url('../webfonts/parabola/parabola-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*
===========================
Colours
===========================
*/
$body-color: #f0f0f0;
$light-orange:#fd903d;
$dark-orange:#f65318;
$ruby:#EA155F;
$violet:#2A1E5C;
$pink:#db759c;
$blue:#084C61;
$lavender:#b096bd;
$yellow: #F9D800;
$text-color: #444e55;
$primary-bgcolor:#ffffff;
$secondary-bgcolor:#cfd3d4;
$display: 'parabolaregular', cursive;
$sans-serif: "Cabin", Helvetica, Arial, sans-serif;
$canary: #FFF6B5;
$apricot: #F2BA82;
$pink: #F2A4BF;
$orchid: #D974DB;
$violet: #9298DD;
$turquoise: #3CD0D8;



/*
===========================
Mixins 
===========================
*/

@import "bourbon/bourbon";

@mixin setBgColor($baseColor) {
    background-color: $baseColor;
    h1.huge-font {
		color:darken($baseColor, 4%)
	}
 }
 @mixin particlesSize($size) {
    height: $size;
    width: $size;
}
@mixin particlesOpacity($alpha) {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
	filter: alpha(opacity=$alpha*100);
    opacity: $alpha; 
}
@mixin particles ($size, $opacity, $color) {
	@include particlesSize($size);
	@include particlesOpacity($opacity);
	background-color:$color;
}
 
 /*Background Gradient: Top to bottom */
@mixin bg-gradient ($orientation, $color1, $color2, $color3, $color4, $color5) {
 background-color: $color1;
  background-image: -webkit-gradient(linear, left top, left bottom, from($color1), to($color5));
 background-image: -webkit-linear-gradient($orientation, $color1 0%, $color2: 25%, $color3: 50%, $color4: 75%, $color5: 100%);
 background-image:    -moz-linear-gradient($orientation, $color1 0%, $color2: 25%, $color3: 50%, $color4: 75%, $color5: 100%);
 background-image:     -ms-linear-gradient($orientation, $color1 0%, $color2: 25%, $color3: 50%, $color4: 75%, $color5: 100%);
 background-image:      -o-linear-gradient($orientation, $color1 0%, $color2: 25%, $color3: 50%, $color4: 75%, $color5: 100%);
 background-image:         linear-gradient($orientation, $color1 0%, $color2: 25%, $color3: 50%, $color4: 75%, $color5: 100%);
}
@mixin rotate ($orientation) {
    -moz-transform: rotate($orientation) ;
    -webkit-transform: rotate($orientation);
    -o-transform: rotate($orientation);
    -ms-transform: rotate($orientation);
    transform: rotate($orientation);
	transform-origin:0% 20%;
	-ms-transform-origin:0% 20%;
	-webkit-transform-origin:0% 20%; 
	-moz-transform-origin:0% 20%;
	-o-transform-origin:0% 20%;
}

@mixin box-shadow($top, $left, $blur, $spread, $color) {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
}
/*
===========================
Styles
===========================
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	width:100%;
	    min-height: 100%;
	padding:0;
	margin:0;
	overflow-x:hidden;
	
}
body {
	height:100%;
	overflow-y: hidden;
	font: {
		 family:$sans-serif;
		 weight:400;
		}
}
p {
	font-size:1.5em;
}
h1 {
		font-size:6em;
	
	}
h2 {
		font-size:4em;
		margin-bottom:4rem;
		font-family:$display;
	}
.relative {
    position:relative;
}
.absolute {
    position:absolute;
}
.push {
	left:100%;
}
.pull {
	right:100%;
}
.is-right {
	order:2;
}
.is-left {
	order:1;
}
a.btn {
		span {
			position:absolute;
			top:25px;
			left:20px;
			color:#fff;
			font-size:2em;
			&:hover {
				text-shadow:1px 1px rgba(0,0,0,0.1);
			}
		}
	}
section {
	-webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-js-display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	width: 100%;
	color:white;
	position:relative;
	z-index:1;
	.container {
	padding:100px 0;
	margin:0 auto;
	max-width:1100px;
	-webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
	position:relative;
	}	
	h1 {
		font-family:$display;
		font-size:10em;
	}
}
.section-title { 
	position:absolute;
	left:9em;
	top:15%;
}
h1.huge-font {
	font-weight:700;
	font-family:$sans-serif;
	@include rotate (90deg);
	font-size:12em; 
}
#intro {
	 background-image: linear-gradient(-45deg, #FFF6A8 0%, #f3c08e 20%, #e098a9 40%, #c073d7 60%, #8d93d2 80%, #3bcbd2 100%);
	 border:20px white solid;
		p {
			font-size:2em;
		}
		img {
			padding-top:2em;
		}
		h1 {
			line-height:1;
		}
		
}
#about {
	@include setBgColor(white);
	color:#999;
	.img-wrap {
		height:400px;
		Width:400px;
		left:0;
        position:relative;
	}
	.img-bg {
		background-image: linear-gradient(-45deg, #FFF6A8 0%, #f3c08e 25%, #e098a9 50%, #8d93d2 75%, #3bcbd2 100%);
		width:100%;
		height:100%;
		position:absolute;
		z-index:1;
		left:20px;
		top:20px;
	}
	.img-top {
		width:100%;
		height:100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}
	.btn-container {
		margin-top:1em;
		position:relative;
		width:206px;
	}
	.btn-background {
		position:relative;
		background:url(../img/icon-6.png) no-repeat;
		height:100px;
		margin-top:1.2em;
		margin-right:auto;
		margin-left:auto;
	}
	.column.text {
		    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 24em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
	}
	
}
#skills {
	@include setBgColor($turquoise);
	 .container {
		 padding-top:130px;
		 padding-bottom:150px;
	 }
	h3 {
		font-size:2em;
		margin-bottom:0.5em;
	}
	p {
		font-size:1.2em;
		line-height:1;
	}
	.is-one-third {
		padding:0 20px;
	}
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 27px;
	-moz-border-image: url(../img/border-image.png) 27 repeat;
	-webkit-border-image: url(../img/border-image.png) 27 repeat;
	-o-border-image: url(../img/border-image.png) 27 repeat;
	border-image: url(../img/border-image.png) 27  repeat;
	border-image-outset: 20px;
}
#work {
	@extend #about;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 27px;
	-moz-border-image: url(../img/border-image-white.png) 27 repeat;
	-webkit-border-image: url(../img/border-image-white.png) 27 repeat;
	-o-border-image: url(../img/border-image-white.png) 27 repeat;
	border-image: url(../img/border-image-white.png) 27  repeat;
	border-image-outset: 20px;
		div.project1, div.project2, div.project3 {
		position:relative;

	}
	.column.text h3 {
		font: {
			family:$display;
			size:2em;
		}
		padding-bottom:0.7em;
	}
	div.project2 .img-wrap {
        left:12vh;
	}
    .columns {
        min-height:500px;
    }
}
#contact {
	background-image: linear-gradient(-45deg, #FFF6A8 0%, #f3c08e 25%, #e098a9 50%, #8d93d2 75%, #3bcbd2 100%);
	.container {
		padding: 50px 0;
		text-align:center;
	}
	.btn-background {
		position:relative;
		background:url(../img/icon-8.png) no-repeat;
		height:100px;
		width:206px;
		margin:0 auto;
		span {
			color:$pink;
		}
	}
}
.img-top {
	&:hover .caption{
		opacity: 1;
	}
	img {
		margin: 0px;
		padding: 0px;
		float: left;
		z-index: 4;
	}
	.caption {
		cursor: pointer;
		position: absolute;
		opacity: 0;
		-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		-ms-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;
	}
	.blur{
		background-color: rgba($violet, 0.65);
		height: 400px;
		width: 400px;
		z-index: 5;
		position: absolute;
	}
	.caption-text {
		z-index: 10;
		color: #fff;
		position: absolute;
		width: 400px;
		height: 400px;
		text-align: center;
		top:150px;
		 h1 {
			text-transform: uppercase;
			font-size: 3em;
			a { 	
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				color:#fff;
				&:hover {
					color:#fff;
				}
			}
			
		}
		img {
				margin:60px auto 0;
				float:none;
		}
	}
}

.p-1 {
	@include box-shadow(0, 0, 30px, 30px, $apricot);
	@include particles(10px, 0.2, $apricot);
}
.p-2 {
	@include box-shadow(0, 0, 25px, 15px, $violet);
	@include particles(155px, 0.15, $violet);
}
.p-3 {
	@include box-shadow(0, 0, 15px, 15px, $orchid);
	@include particles(128px, 0.25, $orchid);
}
.p-4 {
	@include box-shadow(0, 0, 40px, 30px, $turquoise);
	@include particles(100px, 0.25, $turquoise);
}
.p-5 {
	@include box-shadow(0, 0, 10px, 20px, $pink);
	@include particles(55px, 0.2, $pink);
}
.p-6 {
	@include particles(52px, 0.35, $canary);
}
.p-7 {
	@include box-shadow(0, 0, 2px, 7px, $apricot);
	@include particles(32px, 0.2, $apricot);
}
.p-8 {
	@include box-shadow(0, 0, 5px, 17px, $pink);
	@include particles(7px, 0.15, $pink);
}
.p-9 {
	@include box-shadow(0, 0, 2px, 2px, $turquoise);
	@include particles(58px, 0.15, $turquoise);
}.p-10 {
	@include box-shadow(0, 0, 10px, 5px, $canary);
	@include particles(3px, 0.45, $canary);
}
.p-11 {
	@include box-shadow(0, 0, 1px, 1px, white);
	@include particles(159px, 0.1, white);
}
.p-12 {
	@include box-shadow(0, 0, 10px, 20px, white);
	@include particles(10px, 0.3, white);
}
.p-13 {
	@include box-shadow(0, 0, 5px, 5px, $pink);
	@include particles(80px, 0.15, $pink);
}
.p-14 {
	@include box-shadow(0, 0, 30px, 15px, $turquoise);
	@include particles(48px, 0.15, $turquoise);
}
.p-15 {
	@include box-shadow(0, 0, 30px, 18px, $canary);
	@include particles(5px, 0.05, $canary);
}
.p-16 {
	@include particles(27px, 0.2, $violet);
}
.p-17 {
	@include box-shadow(0, 0, 35px, 10px, $turquoise);
	@include particles(6px, 0.2, $turquoise);
}
.p-18 {
	@include box-shadow(0, 0, 2px, 6px, $pink);
	@include particles(2px, 0.15, $pink);
}
.p-19 {
	@include box-shadow(0, 0, 15px, 28px, $violet);
	@include particles(45px, 0.35, $violet);
}
.p-20 {
	@include box-shadow(0, 0, 2px, 2px, white);
	@include particles(2px, 0.45, white);
}
.p-21 {
	@include box-shadow(0, 0, 5px, 5px, $orchid);
	@include particles(5px, 0.35, $orchid);
}
.p-22 {
	@include particles(108px, 0.45, $canary);
}
.particle-1 {
    bottom:2%;
    left:8%;
}
.particle-2 {
    top:30%;
    right:27%;
}
.particle-3 {
    right:47%;
    bottom:18%;
}
.particle-4 {
    top:35%;
    left:7%;
}
.particle-5 {
    top:72%;
    left:21%;
}
.particle-6 {
    right:18%;
    bottom:3%;
}
.particle-7 {
    top:90%;
    left:53%;
}
.particle-8 {
    top:48%;
    left:26%;
}
.particle-9 {
    top:2%;
    right:29%;
}
.particle-10 {
    right:12%;
    bottom:17%;
}
.particle-11 {
    top:50%;
    right:10%;
}
.particle-12 {
    top:40%;
    right:20%;
}
.particle-13 {
    bottom:33%;
    right:5%;
}
.particle-14 {
  right: 28%;
  bottom: 13%;
}
.particle-15 {
    top:0px;
    left:0;
    right:0;
    bottom:0;
}
.particle-16 {
    top:49%;
    right:5%;
}
.particle-17 {
    top:22%;
    right:21%;
}
.particle-18 {
    top:22%;
    left:9%;
}
.particle-19 {
    top:2%;
    right:4%;
}
.particle-20 {
    top:4%;
    left:49%
}
.particle-21 {
    left:8%;
    bottom:4%;
}
.particle-22 {
    top:3%;
    left:12%;
}
.main-particle {
    border-radius: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: -1
}
.particle {
    top: 0;
    left: 0;
    @extend .main-particle;
}


@media screen and (min-width: 1400px) {

}

@media screen and (min-width: 1200px) and (max-width: 1399px){

}

@media screen and (min-width: 768px) and (max-width: 1199px) {

}

@media screen and (max-width: 1399px) {
  h1.huge-font {
        font-size:12em;
}
}

@media screen and (max-width: 1199px) {
section .container {
	padding:60px;
}
}
@media screen and (max-width: 767px)  {
	#about {
		text-align:center;
		.column {
			padding-bottom:2em;
		}
		.img-wrap {
			margin:0 auto;
			left:0;
		}
		.img-top {
			height:auto!important;
			width:100%;
		}
		.btn-container {
			margin:0 auto;
		}
	}
	p {
		font-size:1.3em;
	}
	#skills .is-one-third {
		padding-bottom:2em;
	}
	#work div.project2 .img-wrap {
    	left:0;
}
}

@media screen and (min-width: 599px) and (max-width: 767px) {

}
@media screen and (max-width: 599px) {
	section .container {
		padding:30px;
	}

}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #intro h1 {
	  font-size:8em;
  }

}

@media screen and (min-width: 320px) and (max-width: 479px){

}
@media screen and (max-width: 479px) {
	#intro {
		h1 {
		  font-size:6em;
		}
		p {
			font-size:1.5em;
		}
	}
	
	#about {
		.img-wrap {
			position: relative;
			width: 100%;
			left:-10px;
			height:auto;
		}
		.img-wrap::before {
			content: "";
			display: block;
			padding-top: 100%;
		}
		.img-bg {
			position:  absolute;
			top: 20px;
			left: 20px;
			bottom: 0;
			right: 0;
		}
		.caption, .img-top .blur, .img-top .caption-text {
			position:  absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
		.img-top .blur, .img-top .caption-text{
			height:auto;
			width:auto;
		}
		 .img-top .caption-text {
			top:40%;
		 	h1 {
  			  font-size: 2em;
			}
		 }
	}
}
@media screen and (max-width: 320px) {
    #intro h1 {
	  font-size:4em;
  }
  .img-top .caption-text {
			top:30%;
  }

}