/*
===========================
Fonts
===========================
*/
@import url(https://fonts.googleapis.com/css?family=Muli:400,300);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

/*
===========================
Colours & Fonts
===========================
*/
$display: 'Bree Serif', sans-serif;
$sans-serif: 'Muli', Helvetica, Arial, sans-serif;
// $canary: #FFF6B5;
// $apricot: #F2BA82;
// $pink: #F2A4BF;
// $orchid: #D974DB;
// $violet: #9298DD;
// $turquoise: #3CD0D8;
$text-color :#6b7c93;
$canary: #FFED89;
$apricot: #F4B677;
$pink: #F296AB;
$orchid: #D962DB;
$violet: #858CDD;
$turquoise: #14B4D1;
 // background-image: linear-gradient(-45deg, #FFF6A8 0%, #f3c08e 20%, #e098a9 40%, #c073d7 60%, #8d93d2 80%, #3bcbd2 100%);
 // background-image: linear-gradient(-45deg, $canary 0%, $apricot 20%, $pink 40%, $orchid 60%, $violet 80%, $turquoise 100%);


/*
===========================
Mixins 
===========================


// @import "bourbon/bourbon";

===========================
Styles
===========================
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	width:100%;
	min-height: 100%;
	padding:0;
	margin:0;
	overflow-x:hidden;
	
}
body {
	color:$violet;
	height:100%;
	width:100%;
	overflow-y: hidden;
	line-height:1;
	font-size:13px;
	letter-spacing:1px;
	font: {
		 family:$sans-serif;
		 weight:300;
	}
}
p {
	font-size:1.3em;
	line-height:1.4;
}
h1, h2, h3 {
	font-family:$display;
	letter-spacing:0.05em;
}
h1 {
	font-size:8em;

}
h2 {
	font-size:5em;
	margin-bottom:2rem;
	margin-top:0;
	// color:$text-color;

}
img {
    max-width: 100%;
}
a, a:-webkit-any-link {
	text-decoration: none;
}

::selection {
    background: $violet;
    color: $canary;
}
a.btn, input[type="submit"]{
	display: inline-block;
    opacity: 1;
    padding: .5em 0.75em;
    position: relative;
    z-index: 1;
	margin-top:0.75em;
	text-align:center;
	font-size:3em;
	text-transform:uppercase;
	letter-spacing:0.1em;
	text-decoration: none;
	transition: all 0.25s ease;
	font-family: $display;
	color:#ffffff;
	border-radius: 4px;
	color:$violet;
		background-color: #fff;
	box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
	  	&:hover {
		    transform: translateY(0.125em);
  		}
  	&.btn-gradient {
    background-image: linear-gradient(-45deg, $canary 0%, $apricot 20%, $pink 40%, $orchid 60%, $violet 80%, $turquoise 100%);  	-webkit-background-clip: text;
 	-moz-background-clip: text;
    background-clip: text;
  	-webkit-text-fill-color: transparent;
  	}
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  z-index: 1;
}
section {
	width: 100%;
	position:relative;
	z-index:2;
}
.flex-ie {
	display:flex;
  	flex-direction:row;
}
.container {
	margin:0 auto;
	position:relative;
	padding:60px 40px;
}	
.hero {
	 color:white;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 text-align: center;
	 min-height: 100vh;
	 width:100%;
	 overflow: hidden;
	 position: relative;
	 .container {
	 	margin:0;
	 }
	p {
		font-size:2.2em;
		max-width:600px;
		margin:0 auto;
		z-index:99;
		position: relative;
		background-image: linear-gradient(-45deg, $canary 0%, $apricot 20%, $pink 40%, $orchid 60%, $violet 80%, $turquoise 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	}
	h1 {
		line-height:1;
		padding-bottom:0.3em;
		margin:0;
		z-index:99;
		position: relative;
background-image: linear-gradient(-45deg, $canary 0%, $apricot 20%, $pink 40%, $orchid 60%, $violet 80%, $turquoise 100%);    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	}
}
.section--about {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	color:$text-color;
	a.btn {
		
	}
	.container--about {
		max-width:560px;
		margin:0 auto;
	}
	.about--image {
		flex:1;
		background:url('../img/profile.jpg') center center no-repeat;
		background-size: cover;
		height:300px;
		width:300px;
		border-radius: 100%;
		margin:0 auto;
		margin-bottom:3em;
	}
	.about--intro {
		text-align: center;
		h2 {
			margin-top:0.5em;
		}
	}
}
.section--work {
	background-color: #fff;
	color:$text-color;
	text-align: center;
	&:before {
		content:'';
		background-color: #f6f6f6;
	    width: 100vw;
	    height: 50%;
	    position: absolute;
	    top: 20em;
	    left: 0;
	    z-index: -1;
	}
	.container--work {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom:5em;
		&:nth-of-type(2) {
			padding-bottom:2em;
		}
	}
	.work--item {
	  	width: calc(50% - 4em);
	 	margin:2em;
	    z-index: 99;
	    position: relative;
	    overflow: hidden;
	    background-color: #fff;
	    border-radius: 4px;
	    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
	    transition: all 0.25s ease;
	    text-decoration: none;
	    backface-visibility: hidden;

	    &:after {
	    	content: '';
	    	position: absolute;
	    	bottom:0;
	    	width: 100%;
	    	height:10px;
	    	display: block;
background-image: linear-gradient(-45deg, $canary 0%, $apricot 20%, $pink 40%, $orchid 60%, $violet 80%, $turquoise 100%);	    }

	    &:hover {
			transform: translateY(0.2em);
	    
	    }
	    &:focus {
	    	outline:0;
	    	border:none;
	    }
	    .work--item_image {
	    	height:300px;
	    	& img {
	    		-o-object-fit: cover;
			    object-fit: cover;
			    object-position: 50% 0;
			    width:100%;
    			height: 100%;
	    	}
	 
	    }
	    .text {
	    	padding:20px 20px 30px 20px;
	    	text-align: left;
	    	color:$text-color;
	    	backface-visibility: hidden;
	    	
	    }
	    h3 {
	    	font-size: 1.5em;
	    	color:darken($text-color, 10%);
	    	font-family: $display;
	    	margin-bottom:0.5em;
	    	text-transform: uppercase;
	    	line-height:1.4;
	    	letter-spacing:2px;
	    	text-decoration: none;
	    	&:after {
	    		content:url(../img/link.png);
	       		display: inline-block;
	    		margin-left:0.5em;
	    	}
	    }
	    h4 {
			font-size:0.9em;
			padding-bottom:0.9em;
			letter-spacing:2px;
			text-transform: uppercase;
		}
		p {
			font-size:1.1em;
			// padding-top:2em;
		}
		a, a:hover, a:focus, a:active {
			color: $violet;
		}
	}
	a.btn {
		font-size: 2em;
		box-shadow:none;
		box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
	}
	
}
@media screen and (max-width: 800px) {
	.section--work .container--work {
		display: block;
	}
	.section--work .work--item {
		width: 100%;
	    margin: 0;
	    margin-bottom: 2em;
	}
}
.section--contact {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	
@extend .hero;
	h2 {
background-image: linear-gradient(-45deg, $canary 0%, $apricot 20%, $pink 40%, $orchid 60%, $violet 80%, $turquoise 100%);    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	}
	.social {
		margin-top:4em;
		text-align:center;
	}
	.social .icon {
		background-image: url('../img/social.png');
		width:24px;
		height:24px;
		display: inline-block;
		text-indent:-9999px;
		margin: 0 8px;
		transition: all 0.25s ease;
		&.github {
			background-position: -27px -1px;
		}
		&.codepen {
			background-position: -1px -1px;
		}
		&.twitter {
			background-position: -27px -27px;
		}
		&.instagram {
			background-position: -1px -27px;
		}
		&:hover {
			transform: translateY(0.125em);
		}
	}
form {
	max-width:700px;
	margin:0 auto;
	// background-color: $violet;
}
.row.uniform>* {
    padding: 1.5em 0 0 1.5em;
}
.row.uniform>*>:last-child {
    margin-bottom: 0;
}
.row.uniform>*>:first-child {
    margin-top: 0;
}
.send {
	text-align:left;
}
textarea {
    padding: 0.75em 1em;
	resize: none;
	height:25vh;
}
input[type="text"], input[type="email"], select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: $violet;
    border: none;
    color: inherit;
    display: block;
    outline: 0;
    text-decoration: none;
    width: 100%;
	margin-bottom:1em;
	font-size:1.2em;
	border-radius: 4px;
}
input[type="submit"] {
	border:none;
	outline:0;
	margin:0;
	font-size:2em;
	}
.input_small {
	width: 50%;
    clear: none;
    margin-left: 0;
	float:left;
	margin-bottom:1em;
}
input[type="text"], input[type="email"], select {
    height: 2.75em;
	padding: 0 1em;
}
::-webkit-input-placeholder {
color:rgba(255,255,255,0.6) !important;
opacity:1.0;
font-size:1.2em;
}
:-moz-placeholder {
color:rgba(255,255,255,0.6) !important;
opacity:1.0;
font-size:1.2em;
}
::-moz-placeholder {
color:rgba(255,255,255,0.6) !important;
opacity:1.0;
font-size:1.2em;
}
:-ms-input-placeholder {
color:rgba(255,255,255,0.6) !important;
opacity:1.0;
font-size:1.2em;
}
.parsley-custom-error-message {
	text-align:left;
	font-size:1.1em;
	list-style:none;
	color:$orchid
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
	color:#ffffff;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
	}
@media screen and (max-width: 599px) {
	.input_small {
	width: 100%;
	float:none;
	clear:both;
}
.row.uniform .input_small,  .row.uniform .input_large  {
    padding: 0.5em 0 0 0;
}
.row.uniform .send {
	padding: 1.5em 0 0 0;
}
.row.uniform {
    padding: 1.5em 0 0 0;
}
}	
}
@media screen and (min-width: 1399px){
  .container {
    width:1200px;
  }
}
@media screen and (max-width: 1399px) {

}

@media screen and (max-width: 1199px) {
	section .container {
		padding:40px;
	}
}
@media screen and (max-width: 991px)  {
	#about {
		.btn-container {
			margin:0 auto;
		}

	}
	p {
		font-size:1.3em;
	}

}
@media screen and (min-width: 600px) and (max-width: 991px) {
  h1 {
	  font-size:8em;
  }
}
@media screen and (max-width: 599px) {
	h1 {
		  font-size:6em;
		}
	h2 {
		font-size:4em;
	}
	section .container {
		padding:30px;
	}
	.hero{
		p {
			font-size:1.5em;
		}
	}
}
@media screen and (max-width: 379px) {
  h1 {
	  font-size:3em;
  }
  h2 { 
  	font-size:3em;
  }
  .section--about {
	.about--image {
		height:200px;
		width:200px;
	}
	a.btn {
	  font-size:2em;
  }
}
.hero, .section--contact {
    border: none;
    min-height: 100%;
    input[type="submit"], a.btn {
	  font-size:2em;
  	}
}
}

/*
===========================
Menu
===========================
*/
main {
	max-width: 100%;
}

aside {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: $pink;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease;
	z-index: 2;
}
.open {
	opacity: 1;
	visibility: visible;
}


/*
===========================
FORM
===========================
*/

/*
===========================
MODAL
===========================
*/
.modal-content {
  background-color: #fff;
  padding: 40px;
  max-width:350px;
  margin:0 auto;
  text-align:center;
  position:relative;
  -webkit-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.25);
box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.25);
}
.modal-box {
  display: table-cell;
  vertical-align:middle;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.close {
    color: #ddd;
    float: right;
    font-size: 20px;
    font-weight: bold;
    position:absolute;
    top:20px;
    right:20px;
}
.close:hover,
.close:focus {
    color: darken(#ddd, 10%);
    text-decoration: none;
    cursor: pointer;
}

